<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!-- src/main/resources/hibernate.cfg.xml -->

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property> <!-- for loading the mySQL Driver -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_practice</property> <!-- connecting to our database -->
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> <!-- tells hibernate that our database is MySQL -->
        <property name="hibernate.show_sql">true</property> <!-- this will show hibernate generated sql in terminal -->
        <property name="hibernate.format_sql">true</property> <!-- this will format the shown sql command in terminal -->
        <property name="hibernate.hbm2ddl.auto">update</property>  <!-- just update the table if exists or if not exists then create the table -->

        <mapping class="com.pulkit.entity.Student"/>  <!-- to inform which class will act as entity. We can add it here OR we can add it in our main app file using Annotations -->
    </session-factory>
</hibernate-configuration>
